
// Primary
$moderate-violet: #7541c8;
$dark-grayish-blue: #48556a;
$dark-blackish-blue: #19212e;
$white: #ffffff;

// Text Colors
$light-violet: #f2d8ff;
$violet: #a775f2; 
$gray: #b7c0ce;
$dark-gray: #8b8e93;

// Neutral 
$light-gray: #cfcfcf;
$light-grayish-blue: #ecf2f8;

// Font size
$base-font: 13px

// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity